html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered {
    text-align: center;
}

svg {
    /* Add your SVG image styles here */
}

p {
    font-size: 24px;
    font-family: 'Orbitron';
    margin-top: 10px;
}
